/* .horizontal-list li {
    display: inline;
}

.nodot-list li {
    list-style: none;
} */

.parallax {
    min-height: 500px;
    background-attachment: fixed;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.heading-1 {
    position: relative;
    text-align: center
}

.heading-1:before {
    content: "";
    display: block;
    border-top: solid 1px;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    z-index: 0;
}

.heading-1 span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

/* @media only screen and (min-width: 768px) {
    .navbar .navbar-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
} */

@media only screen and (min-width: 768px) {
    .footer-padding {
        padding-left: 10rem!important;
        padding-right: 10rem!important;
    }
}

@media only screen and (min-width: 992px) {
    .nav-item {
        border-top: 0.1rem solid!important;
        border-top-color: lightgray!important;
    }
    .nav-item:hover {
        border-top: 0.1rem solid!important;
        border-top-color: black!important;
    }
    .nav-item.active {
        border-top: 0.1rem solid!important;
        border-top-color: black!important;
    }
}

/* .dropdown:hover>.dropdown-menu {
    display: block;
} */